<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog-sorter.txt">

  <extensions>
    <add assembly="NLog.Extensions.Logging"/>
  </extensions>

  <targets>
    
    <target name="RowDataParserError" xsi:type="File"
            fileName="${basedir}/logs/${date:format=yyyy-MM-dd}/row.data.parser.error.log"
            layout="${longdate} - ${level}:${message}${onexception:${newline}${exception:maxInnerExceptionLevel=10:format=message,stacktrace:separator=${newline}:innerExceptionSeparator=&#xD;&#xA;&#x9;}}"/>

    <target name="FileSorterServiceError" xsi:type="File"
            fileName="${basedir}/logs/${date:format=yyyy-MM-dd}/file.sorter.service.error.log"
            layout="${longdate} - ${level}:${message}${onexception:${newline}${exception:maxInnerExceptionLevel=10:format=message,stacktrace:separator=${newline}:innerExceptionSeparator=&#xD;&#xA;&#x9;}}"/>

    <target name="FileSorterServiceTrace" xsi:type="File"
            fileName="${basedir}/logs/${date:format=yyyy-MM-dd}/file.sorter.service.trace.log"
            layout="${longdate} - ${level}:${message}"/>

    <target name="FileSplitterServiceError" xsi:type="File"
            fileName="${basedir}/logs/${date:format=yyyy-MM-dd}/file.splitter.service.error.log"
            layout="${longdate} - ${level}:${message}${onexception:${newline}${exception:maxInnerExceptionLevel=10:format=message,stacktrace:separator=${newline}:innerExceptionSeparator=&#xD;&#xA;&#x9;}}"/>

    <target name="FileSplitterServiceTrace" xsi:type="File"
            fileName="${basedir}/logs/${date:format=yyyy-MM-dd}/file.splitter.service.trace.log"
            layout="${longdate} - ${level}:${message}"/>

  </targets>

  <rules>
    
    <logger name="BusinessLogic.Services.Implementations.RowDataParser"
                  minlevel="Error" maxlevel="Fatal" writeTo="RowDataParserError" />

    <logger name="BusinessLogic.Services.Implementations.FileSorterService"
                  minlevel="Trace" maxlevel="Warning" writeTo="FileSorterServiceTrace" />

    <logger name="BusinessLogic.Services.Implementations.FileSorterService"          
                  minlevel="Error" maxlevel="Fatal" writeTo="FileSorterServiceError" />

    <logger name="BusinessLogic.Services.Implementations.FileSplitter"
              minlevel="Trace" maxlevel="Warning" writeTo="FileSplitterServiceTrace" />

    <logger name="BusinessLogic.Services.Implementations.FileSplitter"
                  minlevel="Error" maxlevel="Fatal" writeTo="FileSplitterServiceError" />

  </rules>
</nlog>
